/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-enable */

/* Add Open Sans via @font-face */
@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap') format('woff2');
  font-weight: 400 700; /* Support both regular and bold weights */
  font-style: normal;
  font-display: swap;
}